<div class="accentbg" style="margin-top:1em;">
	<div class="grid-container">
		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				<div class="blogpost-footer-actions">
				  <div class="blogpost-footer-actions-left">
				   <a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter-square" aria-hidden="true"></i> {{ site.twitter }}</a>
				  </div>
				  <div class="blogpost-footer-actions-right">
					<a href="https://github.com/{{ site.github }}/"><i class="fa fa-github" aria-hidden="true"></i> {{ site.github }}</a>
				  </div>
				</div>

				<div class="blogpost-footer-author-section">

				  <div class="blogpost-footer-author">
					  <img class="avatar" src="{{ site.baseurl }}{{ site.urlimg }}{{ site.sitelogo }}" alt="{{ site.title }}"/>
					  <div>
						<p class="author">{{site.authorname}}</p>
						<p class="bio">{{site.description}}</p>
					  </div>
				  </div>
				</div>
				<p class="quiet credits">This site built on a Github Pages theme template by <a href="https://www.kalanicraig.com" target="_blank">Kalani Craig</a> with <a href="https://get.foundation/" target="_blank">Foundation 6</a>. <a href="/copyright/"><i class="far fa-copyright"></i> {{ site.authorname }}, {{ site.time | date: '%Y' }}</a></p>
			</div>
		</div>
	</div>
</div>