<!--
==================================================
Body
================================================== -->

<div data-sticky-container style="width: 100%">
  <div data-sticky data-options="marginTop:0;" data-top-anchor="the-body:top" style="width: 100%">

    <div class="title-bar darkbg" data-responsive-toggle="example-menu" data-hide-for="medium" style="width: 100%">
      <button class="menu-icon" type="button" data-toggle="example-menu"></button>
      <div class="title-bar-title">{{ site.title }}</div>
    </div>

<!--
==================================================
Top Bar
================================================== -->
    <div class="top-bar darkbg" id="example-menu" style="width: 100%">
      <ul class="vertical medium-horizontal dropdown menu menu-hover-lines" data-responsive-menu="accordion medium-dropdown">
<!--
==================================================
Home Link for Mobile
================================================== -->
			<li class="darkbg home-nav-small">
			  <a href="{{ site.baseurl }}/">
				Home
			  </a>
			</li>
<!--
==================================================
Nav Loop
================================================== -->
{% for nav in site.data.navigation %}
			<li class="darkbg{% if page.url == nav.url %} active{% endif %}">
				{% if nav.url contains "http" %}<a href="{{ nav.url }}" target="_blank">{% else %}<a href="{{ site.baseurl }}{{ nav.url }}">{% endif %}
					{{ nav.title }}<!--{{ page.url }} == {{ nav.url }}-->

				</a>
			</li>
{% endfor %}
      </ul>
    </div>

  </div>
</div>
