/** =================================
Base settings
================================= **/

	body {
		font-family: $body-font;
		font-size: 1.15em;
		line-height:1.15em;
		color: $main-text-color;
		background-color: $main-bg;
	}
	@media screen and (max-width: 39.9375em) {
		body {
		  font-size: 1.1em;
		}
	}
	@media print {
		body {
		  margin: 10mm 10mm 10mm 10mm;
		  font-size: 12pt;
		}
	}
	pre {
		font-family: $pre-font;
	}
	
	a[href]:after {
    content: ""; }

	a {
		color: $main-link;
		font-weight:600;
	}

	a:hover, a:focus {
		color: $main-link-hover;
	}

	.darkbg{
	  background-color: $dark-bg;
	  color: $dark-text-color;
	}

	.darkbg a {
		color: $dark-link;
	}

	.darkbg a:hover, .accentbg a:focus {
		color: $dark-link-hover;
	}

	.accentbg{
	  background-color: $accent-bg;
	  color: $accent-text-color;
	}

	.accentbg a {
		color: $accent-link;
	}

	.accentbg a:hover, .accentbg a:focus {
		color: $accent-link-hover;
	}

	.menu-hover-lines a:before {
	  background-color: $dark-headers;
	}
	
/** == Header styling **/

	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		font-family: $headline-font;
		color: $main-headers;
	}

	h1, .h1 {
		text-transform: uppercase;
	}

	h2:after, h3:after, h4:after, h5:after, h6:after {
		font-family: "Font Awesome 5 Free";
		padding: 0 3px 0 3px;
		display:inline-block;
	}

	.serif {
		font-family: $headline-font;
	}

	.sans, .subheadline {
		font-family: $body-font;
		color: $main-headers;
	}

	.subheadline:after,.subheadline:before {
		border-bottom: $accent-link-hover;
	}

	.subheadline.siteheader {
		color: $main-link;
		padding-bottom: .5em;
	}

	@media screen and (min-width: 40em) {
	  h1, .h1 {
		font-size: 2.25rem; }
	  h2, .h2 {
		font-size: 2rem; }
	  h3, .h3 {
		font-size: 1.75rem; }
	  h4, .h4 {
		font-size: 1.5rem; }
	  h5, .h5 {
		font-size: 1.3rem; }
	  h6, .h6 {
		font-size: 1.15rem; }
	}
	@media screen and (max-width: 39.9375em) {
	  h1, .h1 {
		font-size: 2.75rem; }
	  h2, .h2 {
		font-size: 2.25rem; }
	  h3, .h3 {
		font-size: 2rem; }
	  h4, .h4 {
		font-size: 1.75rem; }
	  h5, .h5 {
		font-size: 1.25rem; }
	  h6, .h6 {
		font-size: 1.1rem; }
	}
	@media print {
	  h1, .h1 {
		font-size: 24pt; }
	  h2, .h2 {
		font-size: 20pt; }
	  h3, .h3 {
		font-size: 18pt; }
	  h4, .h4 {
		font-size: 16pt; }
	  h5, .h5 {
		font-size: 14pt; }
	  h6, .h6 {
		font-size: 12pt; }
	}
	.subheadline {
		text-transform: uppercase;
		font-weight: 800;
		text-align:center;
		display: grid;
		grid-template-columns: .5fr auto .5fr;
		grid-template-rows: .7em 0;
		grid-gap: 20px;
	}

	.subheadline:after,.subheadline:before {
		content: " ";
		display: block;
		border-bottom: 1px solid $dark-headers;
	}

	.CV {
		font-weight:600;
	}
	
	.year {
		line-height: 1em;
		margin-bottom:0px;
	}

/** =================================
Nav and Menu Elements
================================= **/

	.top-bar, .top-bar ul {
		font-family: $body-font;
		text-transform: uppercase;
		background-color: $dark-bg;
	}

	@media screen and (min-width: 40em) {
		.top-bar {
			-webkit-flexbox-pack: center;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			  -ms-flex-pack: center;
				  justify-content: center; 
		}
	}

	@media screen and (max-width: 39.9375em) {
	  .home-nav {
		display: none;
	  }
	}

	@media print, screen and (min-width: 40em) {
	  .home-nav-small {
		display: none;
	  }
	}

	@media screen and (max-width: 39.9375em) {
	  .no-js .top-bar {
		display: none;
	  }
	}

	@media print, screen and (min-width: 40em) {
	  .no-js .title-bar {
		display: none;
	  }
	}

	[data-sticky] {
	  width: 100%;
	}

	.sticky-container {
	  z-index: 5;
	}

	@media print {
		.sticky-container {
		  display: none;
		}
	}

/** == Nav hover lines **/

	.menu-hover-lines {
	  text-transform: uppercase;
	  font-weight: 500;
	  letter-spacing: 1px;
	  transition: all 0.35s ease;
	}

	.menu-hover-lines li a {
	  padding: 0.75rem 0;
	  position: relative;
	  margin-left: 1rem;
	}

	.menu-hover-lines li:first-child a {
	  margin-left: 0;
	}

	.menu-hover-lines li.active > a {
	  background-color: transparent;
	}

	.menu-hover-lines a:before {
	  height: 1px;
	  position: absolute;
	  content: '';
	  transition: all 0.35s ease;
	  width: 0;
	}

	.menu-hover-lines a::before {
	  top: 0;
	  left: 0;
	}

	.menu-hover-lines a:hover,
	.menu-hover-lines li.active > a {
	  transition: all 0.35s ease;
	}

	.menu-hover-lines a:hover::before,
	.menu-hover-lines .active a::before {
	  width: 100%;
	}

/** =================================
Typographic & Design Elements
================================= **/

	.citation {
		margin-bottom: .75em;
	}

	.citation h5 {
		margin: 0px;
	}
	.citation p {
		margin: 0px;
	}

	.center {
		text-align: center;
	}

	.quiet {
		font-size: 80%;
	}

	@media screen {
		.printonly {
			display: none;
		}
	}
		
	.hangingindent { text-indent: 1em hanging; }

/** == Card Features **/

	.card-select {
	  text-align: center;
	  transition: all 0.5s ease;
	}

	.card-select .card-divider {
	  background-color: #f6f6f4;
	  letter-spacing: 1px;
	  font-weight: 500;
	  text-transform: uppercase;
	  border: 1px solid $accent-bg;
	}
	
	.card-title {
	  padding: 10px 16px 10px 16px;
	  margin-left:-16px;
	  margin-right:-16px;
	  line-height:1em;
	}
/** == Image Styling **/

	@media screen and (min-width: 63em) {
		.article-image {
			width: 25%;
		}
	}
	@media screen and (max-width: 62.9775em) {
		.article-image {
			width: 33%;
		}
	}
	@media screen and (max-width: 39.9775em) {
		.article-image {
			width: 100%;
		}
	}

	.square {
		object-fit: cover;
	}

	@media screen and (min-width: 63em) {
		.square {
			width: 100%;
			height: 337px;
		}
	}
	@media screen and (max-width: 62.9775em) {
		.square {
			height: 337px;
		}
	}
	@media screen and (max-width: 39.9775em) {
		.square {
			width: 100%;
			height: 39em;
		}
	}

/** == Stacked Table **/

	tbody tr:nth-child(even) {
		border-bottom: 0;
		background-color: $main-bg;
	}
	tbody tr:nth-child(odd) {
		border-bottom: 0;
		background-color: $accent-bg;
	}
	thead {
		background: $dark-bg;
		color: $dark-text-color;
	}

.pull-quote {
  font-weight: 400;
  letter-spacing: 1.25px;
  font-style: normal;
  font-size: 1.125rem;
  max-width: 50%;
  line-height: 1.25em;
  color: $main-text-color;
  float: right;
  margin: 10px 0 0 20px;
  border-left: 1px solid $main-link-hover;
  padding-left: 10px;
}

.pull-quote:before {
  content: '';
}

.pull-quote:after {
  content: '';
}

@media print, screen and (min-width: 40em) {
  .pull-quote {
    font-size: 1.875rem;
    max-width: calc(50% - 15%);
  }
}

@media print, screen and (min-width: 64em) {
  .pull-quote {
    max-width: calc(50% + 5%);
  }
}


/** =================================
ItemBox
================================= **/


.card {
  background-color: $main-bg;
  border: 1px solid $dark-bg;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.card-thumbnail {
  display: block;
  position: relative;
}

.card-desc {
  color: $accent-text-color;
  display: block;
  font-family: $body-font;
  font-size: 0.85rem;
}

.card-price {
  color: $main-text-color;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 0.8rem;
}

.card-sale {
  color: $accent-bg;
  display: inline-block;
  font-size: 0.85rem;
  margin-left: 0.3rem;
  text-decoration: line-through;
}

.card-colors {
  display: block;
  margin-top: 0.8rem;
}

.card-color-option {
  display: inline-block;
  height: 25px;
  width: 25px;
}

/** =================================
Blog Post Header
================================= **/

.simple-article-header {
  background: #fefefe;
  padding: 1.3rem 2rem .7rem;
  border: 1px solid #cacaca;
  margin-bottom: 1rem;
}

.simple-article-header .article-date-read {
  color: #8a8a8a;
}

.simple-article-header .article-title {
  text-transform: uppercase;
}

.simple-article-header .article-title a {
  color: #0a0a0a;
}

.simple-article-header .article-title a:hover, .simple-article-header .article-title a:focus {
  color: #1779ba;
}

.simple-article-header .article-author-comments a.article-comments {
  color: #8a8a8a;
}

.simple-article-header .article-author-comments a.article-comments:hover, .simple-article-header .article-author-comments a.article-comments:focus {
  color: #1779ba;
}

.simple-article-header .article-date-read,
.simple-article-header .article-title,
.simple-article-header .article-author-comments,
.simple-article-header .article-social,
.simple-article-header .article-post-image,
.simple-article-header .article-post-content {
  margin-bottom: 0.25rem;
}

.simple-article-header .article-social {
  margin-top: 0.75rem;
}

.simple-article-header .article-social .social {
  margin-right: 0.25rem;
}

.simple-article-header .article-social .social.facebook {
  background-color: #3b5998;
  color: #fefefe;
}

.simple-article-header .article-social .social.facebook:hover, .simple-article-header .article-social .social.facebook:focus {
  background-color: #2f477a;
  color: #fefefe;
}

.simple-article-header .article-social .social.twitter {
  background-color: #55acee;
  color: #fefefe;
}

.simple-article-header .article-social .social.twitter:hover, .simple-article-header .article-social .social.twitter:focus {
  background-color: #1a8fe8;
  color: #fefefe;
}

.simple-article-header .article-social .social.linkedin {
  background-color: #007bb5;
  color: #fefefe;
}

.simple-article-header .article-social .social.linkedin:hover, .simple-article-header .article-social .social.linkedin:focus {
  background-color: #006291;
  color: #fefefe;
}

.simple-article-header .article-social .social.google-plus {
  background-color: #dd4b39;
  color: #fefefe;
}

.simple-article-header .article-social .social.google-plus:hover, .simple-article-header .article-social .social.google-plus:focus {
  background-color: #be3221;
  color: #fefefe;
}

.simple-article-header .article-social .social > .fa {
  color: #fefefe;
}

.simple-article-header .article-social .social > .fa.fa-comments-o {
  margin-right: 0.25rem;
}


/** =================================
Footer
================================= **/

	.footer-actions {
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-align-items: center;
		  -ms-flex-align: center;
			  align-items: center;
	  -webkit-justify-content: space-between;
		  -ms-flex-pack: justify;
			  justify-content: space-between;
	  font-size: 1.8125rem;
	  border-bottom: 1px solid $accent-bg;
	  padding: 1rem;
	}

	@media print, screen and (min-width: 40em) {
	  .footer-actions {
		padding: 1rem 0;
	  }
	}

	.footer-actions-left a,
	.footer-actions-left button,
	.footer-actions-right a,
	.footer-actions-right button {
	}

	.footer-actions-left button:hover,
	.footer-actions-right button:hover {
	  cursor: pointer;
	}

	.footer-actions-left a + a,
	.footer-actions-left button + button,
	.footer-actions-right a + a,
	.footer-actions-right button + button {
	  margin-left: 0.75rem;
	}

	.footer-author-section {
	  padding: 1.75rem 1rem;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-justify-content: space-between;
		  -ms-flex-pack: justify;
			  justify-content: space-between;
	  -webkit-align-items: flex-start;
		  -ms-flex-align: start;
			  align-items: flex-start;
	}

	.footer-author-section .button {
	  border-radius: 5000px;
	  padding: 0.875rem 1.75rem;
	}

	@media print, screen and (min-width: 40em) {
	  .footer-author-section {
		padding: 1.75rem 0;
	  }
	}

	.footer-author {
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-align-items: center;
		  -ms-flex-align: center;
			  align-items: center;
	  -webkit-flex: 1 0 0;
		  -ms-flex: 1 0 0px;
			  flex: 1 0 0;
	}

	.footer-author .avatar {
	  border-radius: 50%;
	  height: 3.75rem;
	  width: 3.75rem;
	}

	.footer-author .author {
	  margin-left: 0.75rem;
	  font-size: 1.125rem;
	  font-weight: 700;
	  margin-bottom: 0;
	}

	.footer-author .bio {
	  margin-left: 0.75rem;
	  margin-bottom: 0;
	}