/** == ORANGE AND TAN Color Palette
<palette>
  <color name="Dark Red" hex="990000" r="153" g="0" b="0" />
  <color name="Spanish Grey" hex="8e8e8e" r="1" g="66" b="106" />
  <color name="White" hex="ffffff" r="255" g="255" b="255" />
  <color name="Platinum" hex="edebeb" r="237" g="235" b="235" />
  <color name="Eerie Black" hex="191919" r="25" g="25" b="25" />
</palette>

<!-- Coolors Palette Widget -->
      <script src="https://coolors.co/palette-widget/widget.js"></script>
      <script data-id="09046957977818991">new CoolorsPaletteWidget("09046957977818991", ["990000","8e8e8e","ffffff","edebeb","191919"]); </script>
**/

/* SCSS HEX */
$dark-red: #990000;
$spanish-grey: #8e8e8e;
$white: #ffffff;
$platinum: #edebeb;
$eerie-black: #191919;

/** main color scheme **/
$main-text-color: $eerie-black;
$main-bg: $white;
$main-link: $spanish-grey;
$main-link-hover: $dark-red;
$main-headers: $spanish-grey;

/** dark-background color scheme **/
$dark-text-color: $white;
$dark-bg: $dark-red;
$dark-link: $platinum;
$dark-link-hover: $spanish-grey;
$dark-headers: $platinum;

/** accent-background color scheme **/
$accent-text-color: $dark-red;
$accent-bg: $platinum;
$accent-link: $eerie-black;
$accent-link-hover: $spanish-grey;
$accent-headers: $eerie-black;
