---
layout: page
format: stories
---

{% assign grouplist = "" | split: ',' %}
{% for item in site.items %}
    {% if item.group %}{% assign grouplist = grouplist | push: item.group %}{%endif%}
{% endfor %}

{% assign uniquegroups = grouplist | uniq %}

{% assign grouplist = "" | split: ',' %}
{% for item in site.items %}
    {% if item.group %}{% assign grouplist = grouplist | push: item.group %}{%endif%}
{% if item.categories %}
{% for cat in item.categories %}
{% assign catdash = cat | replace: " ", "-" %}
{% assign grouplist = grouplist | push: catdash %}
{% endfor %}
{%endif%}
{% endfor %}

{% assign uniquetags = grouplist | uniq %}


</div>

<section class="filter-simple">

<div class="grid-container">
	<div class="grid-x grid-padding-x margin-x">
		<div class="large-12 cell">
			<div>
				<div class="button-group round">
					<button class="button hollow filter-simple-button is-active" data-filter="all">All</button>
{% for group in uniquetags %}
					<button class="button hollow filter-simple-button" data-filter="{{group}}">{{group | replace: " ", "-"}}</button>
{% endfor %}
				</div>
			</div>


{% for groupset in uniquegroups %}
		<h2 class="subheadline filterHead">{{groupset}}</h2>
		</div>
	<div class="grid-x grid-padding-x grid-margin-x">

{% assign itemsGrouped = site.items | where: 'group', groupset %}
{% for item in itemsGrouped %}
{% include _itembox.html %}
{% endfor %}
	</div>
</div>
<div class="grid-container">
		<div class="large-12 cell">
{% endfor %}
</div>
</div>
</section>
