/** =================================
Base font settings
================================= **/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

$body-font: 'Archivo Narrow', Helvetica, Roboto, Arial, sans-serif;
$headline-font: 'Archivo Narrow', Helvetica, Roboto, Arial, sans-serif;
$pre-font: 'Inconsolata', Courier, monospace;
