/** =================================
Base font settings
================================= **/

@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600&family=Inconsolata&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$body-font: 'Quattrocento Sans', Helvetica, Roboto, Arial, sans-serif;
$headline-font: 'Halant', Garamond, serif;
$pre-font: 'Inconsolata', Courier, monospace;

