/** =================================
Base font settings
================================= **/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

/**
$body-font: 'Titillium Web', Helvetica, Arial, sans-serif;
$headline-font: 'Zilla Slab', Garamond, serif;
**/

$body-font: 'Zilla Slab', Garamond, serif;
$headline-font: 'Titillium Web', Helvetica, Arial, sans-serif;
$pre-font: Courier, monospace;
